VIPER/XamarinClassic/testviper.Core/bin/*
VIPER/XamarinClassic/testviper.Core/obj/*
VIPER/XamarinClassic/testviper.iOS/bin/*
VIPER/XamarinClassic/testviper.iOS/obj/*
VIPER/XamarinClassic/testviper.Droid/bin/*
VIPER/XamarinClassic/testviper.Droid/obj/*